{% extends 'base.html.twig' %}

{% block title %}Produits{% endblock %}

{% block body %}
    <h1>Nos Produits</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>nom</th>
                                <th>description</th>
                                <th>photo</th>
                                <th>etat</th>
                            

            </tr>
        </thead>
        <tbody>
        {% for products in products %}
            <tr>
                <td>{{ products.id }}</td>
                <td>{{ products.nom }}</td>
                <td>{{ products.description }}</td>
                <td><img src="{{ asset('uploads/images/'~products.photo) }}"></td>
                <td>{{ products.etat }}</td>

                <td>
                    <a class='btn btn-info' href="{{ path('app_admin_product_show', {'id': products.id}) }}">Détail</a>
                    <a class='btn btn-warning' href="{{ path('app_admin_product_edit', {'id': products.id}) }}">Modifier</a>
                    <a class='btn btn-danger' href="{{ path('app_admin_product_delete', {'id': products.id}) }}">Supprimer</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a class='btn btn-warning' href="{{ path('app_default') }}">back to list</a>

    <a class='btn btn-success' href="{{ path('app_admin_product_new') }}">Create new</a>
{% endblock %}
