{% extends 'base.html.twig' %}

{% block title %}Prestations{% endblock %}

{% block body %}
    <h1>Prestations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ order.id }}</td>
            </tr>
              <tr>
                <th>recapitulatif</th>
                <td>{{ order.recapitulatif }}</td>
            </tr>
              <tr>
                <th>total</th>
                <td>{{ order.total }}</td>
            </tr>
            <tr>
                <th>libelle</th>
                <td>{{ order.libelle }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_admin_order') }}">back to list</a>

    <a href="{{ path('app_admin_order_edit', {'id': order.id}) }}">edit</a>

    {{ include('admin_order/_delete_form.html.twig') }}
{% endblock %}
